# requirements.txt
fastapi==0.108.0
uvicorn==0.25.0
python-multipart
pydantic
requests
google-generativeai==0.7.2
brotli

# Install yt-dlp with the recommended 'curl_cffi' extra for robust impersonation
yt-dlp[default,curl_cffi]>=2024.07.25
